*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
    padding-top: 56px;
  }
  
  p {
    Font-size: 18px;
    font-family: public sans;
  }
  
  h3 {
    color: hsl(233, 26%, 24%);
    cursor: pointer;
  }
  
  h3:hover {
    color: hsl(136, 65%, 51%);
  }
  
  h2 {
    color: hsl(233, 26%, 24%);
    margin-bottom: 30px;
  }

  h1 {
    font-family:  public sans;
    color: hsl(233, 26%, 24%);
  }

 