.mockups img {
  height: 700px;
  
}

.mockups {
  position: absolute;
  right: 10px;
  top: -85px;
  right: -100;
  left: 660px;
 margin-left: 200px;
}

.request-invite .tooltip {
position: absolute;
background-color: grey;
color: white;
padding: 4px 8px 4px  8px;
bottom: -14px;
left: 40;
opacity: 0;
transition: opacity 0.15s;
pointer-events: none;
}

.request-invite:hover .tooltip {
  opacity: 1;
}

    
    
    
    
    
      
    
    