.hero {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  
  
}

.hero-title {
  margin-top: 150px;
}

.right-wrapper {
  width: 800px;
  height: 700px;
  margin-top: -200px;
}


.description {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
}

.feature-desription {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  margin-top: 0;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}


.features {
  display: flex;
 flex-direction: column;
 width: 100vw;
 background-color: hsl(220, 16%, 96%);
 
}

.feature-top-wrap {
  margin-left: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.feature-bottom-wrap {
display: flex;
justify-content: space-evenly;

}

.feature-text {
  color: hsl(233, 8%, 62%);
  font-family: public sans;
  margin-top: 0;
  
}

.latest-articles {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 30px;
}

.latest-article-head {
  display: flex;
  margin-left: 100px;
}

.card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article-image-one {
  height: 130px;
  width: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.article-card {
  width: 200px;
  background-color: white;
  border-radius: 5px;
}

.author {
  color: grey;
  margin-top: 20px;
}

.article-preview {
  margin-left: 10px;
  margin-right: 10px;
  color: hsl(233, 8%, 62%);
}

@media(max-width 780px) {
  .hero {
    width: 100%;
  }
}














